
.navbar {
  background-color: #ff7518;
}

.game-play {
  background-color: #3cb371;
}

.adventure {
  background-color: #fefe33;
}



.margin {
  padding-top: 10px;
  padding-bottom: 50px;
}

img {
  padding-top: 10px;
  padding-bottom: 20px;
}


h5 {
  color: red;
}

.bg-footer {
  background-color:blue;
  color: white;
}